<!DOCTYPE html>
<html>
<head>
    <style>
        .box {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            text-align: center;
            line-height: 50px;
            float: left;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="box">{{n1}}</div>
<div class="box">{{n2}}</div>

<div style="clear:both;"></div>

<div class="box">{{n3}}</div>
<div class="box">{{n4}}</div>

<div style="clear:both;"></div>

<div class="box" style="width:100px;">{{risultato}}</div>

<p id="formula" style="display: none;">{{formula}}</p>

<button onclick="document.getElementById('formula').style.display='block'">Soluzione</button>
<a href="/get/msg">messaggi</a>
</body>
</html>
